@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

html, body, #root {
  height: 100% !important;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}